---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<!-- Desarrollo Full-Stack -->
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Desarrollo Full-Stack</h2>
		<p>
			Experiencia en la creación de aplicaciones robustas utilizando PHP, SQL, JavaScript, React y Node.js, con un enfoque en eficiencia y escalabilidad.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<!-- Especialista en ERP y CRM -->
		<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Especialista en ERP y CRM</h2>
		<p>
			Desarrollador de cuatro soluciones ERP empresariales diseñadas para optimizar las operaciones comerciales en diversas industrias.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<!-- Resolución Estratégica de Problemas -->
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Resolución Estratégica de Problemas</h2>
		<p>
			Combina experiencia técnica con pensamiento estratégico para ofrecer soluciones innovadoras que potencian el crecimiento y la eficiencia empresarial.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
